    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3 col-sm-4 links-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Links</h3>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog/">Blog</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-md-6 col-sm-8 blog-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">About Us</h3>
                            <div>
                                <p>Mapzai is a platform to visualise, analyse and collaborate on your
                                    geo-spatial data. We are currently in beta development but would love to 
                                    get in touch with developers and potential users.</p>
                            </div>  
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col--> 
                    <div class="footer-col col-md-3 col-sm-12 contact-col">
                        <div class="footer-col-inner">
                            <h3 class="sub-title">Get In Touch</h3>
                            <p class="intro"></p>
                            <div class="row">
                                <p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="mailto:hello@mapzai.com">hello@mapzai.com</a></p> 
                                <p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#xe127;"></span><a href="https://twitter.com/Mapzai">@Mapzai</a></p> 
                            </div>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                </div>   
            </div>        
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container center">                                   
                <ul class="social-icons list-inline">
                    <li><a href="https://twitter.com/Mapzai"><i class="fa fa-twitter"></i></a></li>                        
                    <li><a href="https://www.facebook.com/mapzai/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/mapzai/"><i class="fa fa-instagram"></i></a></li>
                    <li class="last"><a href="https://plus.google.com/+Mapzai"><i class="fa fa-google-plus"></i></a></li>     
                </ul> 
                <small class="copyright text-center">Copyright @ 2016 <a href="http://mapzai.com/" target="_blank">Mapzai</a></small>                 
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
{% include javascript-footer.html %}
{% include modal.contact.html %}
