    <!-- Main Javascript -->          
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/plugins/back-to-top.js"></script>             
    <script type="text/javascript" src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>                                                                  
    <script type="text/javascript" src="/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    
    <!-- Flexslider -->    
    <script type="text/javascript" src="/plugins/flexslider/jquery.flexslider-min.js"></script> 
    <script type="text/javascript" src="/js/flexslider-custom.js"></script>     
    
    <!-- Form Validation -->
    <script type="text/javascript" src="/plugins/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="/js/form-validation-custom.js"></script>
    
    <!-- Form iOS fix -->
    <script type="text/javascript" src="/plugins/isMobile/isMobile.min.js"></script>
    <script type="text/javascript" src="/js/form-mobile-fix.js"></script>
    
    <!-- Owl Carousel -->
    <script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.js"></script> 
    <script type="text/javascript" src="/js/owl-custom.js"></script> 