    <!-- Contact Modal -->
    <div class="modal modal-contact" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="contactModalLabel" class="modal-title text-center">Join our Mapzai Beta</h4>
                    <p class="intro text-center">We are building our Geospatial Analytics platform and want your feedback. What kind of data do you want to load, how do you want to load it, what decisions
                        are you making based on this data?</p>
                    <p class="intro text-center">Beta users will get early access to the Mapzai platform, a voice to guide the development and our eternal gratitude.</p>
                </div>
                <div class="modal-body">
                    <form id="contact-form" class="contact-form" method="post" action="#">                    
                        <div class="row text-center">
                            <div class="contact-form-inner">
                                <div class="row">                                                           
                                    
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <label class="sr-only" for="cname">Your name</label>
                                        <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required>
                                    </div>                    
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <label class="sr-only" for="cemail">Email address</label>
                                        <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="sr-only" for="cmessage">Your message</label>
                                        <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="6" required></textarea>
                                    </div>
                                     <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Request access to the beta</button>
                                    </div>                           
                                </div><!--//row-->
                            </div>
                        </div><!--//row-->
                        <div id="form-messages"></div>
                    </form><!--//contact-form-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->